@import 'colors';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  padding: $card-padding;
  overflow-y: auto;

  color: $color-black;

  background-color: $base-background;

  border-radius: $card-border-radius;
  box-shadow: $component-shadow;

  @media only screen and (max-width: $responsive-breakpoint) {
    overflow-y: unset;
  }
}

.title {
  margin-bottom: $card-header-margin-bottom;

  font-size: $card-header-font-size;
}

div {
  overflow-y: auto;

  font-size: $card-content-font-size;

  @media only screen and (max-width: $responsive-breakpoint) {
    overflow-y: unset;
  }
}
