@import 'variables';
@import 'colors';

.app-container {
  display: grid;
  grid-template-areas:
    'header        header'
    'control      control'
    'description   code'
    'output        code';
  grid-template-rows: min-content min-content 1fr 1fr;
  grid-template-columns: 1.5fr 2.5fr;
  height: 100vh;
  padding: 0 1rem 1rem;

  column-gap: 1rem;
  row-gap: 1rem;

  background-image: linear-gradient(to right bottom, $color-pink, $color-blue);

  @media only screen and (max-width: $responsive-breakpoint) {
    display: flex;
    flex-direction: column;

    height: auto;
    min-height: 100vh;
  }
}

app-header {
  grid-area: header;
}

app-control {
  grid-area: control;
}

.description {
  grid-area: description;
}

.output {
  grid-area: output;
}

app-code-card {
  grid-area: code;
}
