@import 'colors';
@import 'variables';

:host {
  display: flex;
  align-items: center;
  margin: 0 auto 2rem;
  padding: 0.5rem 3rem;

  color: $color-black;
  font-weight: 600;
  font-size: 1.4rem;

  background-color: $base-background;
  border-radius: 100px;
  box-shadow: $component-shadow;

  @media only screen and (max-width: $responsive-breakpoint-smaller) {
    flex-direction: column;
    width: 100%;
    padding-top: 1.5rem;

    font-size: 1.6rem;
  }

  @media only screen and (max-width: $responsive-breakpoint-smallest) {
    border-radius: 3rem;
  }
}

mat-form-field,
.mat-select,
.mat-option {
  font-family: inherit;
}

mat-form-field {
  width: 350px;
  margin-left: 1rem;
}
